<center>
      <div class="row-fluid">
        <div class="span12">
          <h1>About Me</h1>
          <p>
            <li>I am a senior in Computer Science and Engineering at UCSD.</li>
            <li>My goto language is C. But I like playing in Java and Ruby as well.</li>
            <li>When I'm bored I play League of Legends or CS:GO or surf the reddits.</li>
            <li>Caffeine makes a better programmer. And everyone should take copious amounts of it!</li>
            <li>I'm trying to convert my entire family to Linux (they'll come around...)</li>
            <li>I'll write an essay on myself later but for now this is all you get!</li>
          </p>
	  <h2>Goals</h2>
	  <p>
	    <li>Visit outer space</li>
	    <li>Obtain pro level status in a sport (table tennis or an eSport
	    seems most plausible so far)</li>
	    <li>Have an Android app downloaded 10,000+ in PlayStore</li>
	    <li>Learn how to play the ukulele/guitar</li>
	  </p>
        </div>
      </div>
</center>