<!-- styling for about page -->
<style>
</style>

<div class="container-fluid">
  <!-- first row --> 
  <div class="row">
    <div class="col-md-6" align="left">
      <ul>
        <h1>About Me</h1>
        <li>I am a senior in Computer Science and Engineering at UCSD</li>
        <li>Languages I enjoy are C/Java/Ruby/JavaScript where I use them to make weird stuff</li>
        <li>When I'm bored I play League of Legends or CS:GO or surf the reddits</li>
        <li>Caffeine makes a better programmer and everyone should take copious amounts of it!</li>
        <li>I'm trying to convert my entire family to Linux (they'll come around...)</li>
        <li>I should probably go outside more</li>
      </ul>
    </div>
    <div class="col-md-6" align="left">
      <ul>
        <h1>Goals</h1>
        <li>Visit outer space</li>
        <li>Obtain pro/pro-am level status in a sport (table tennis or an eSport seems most plausible so far)</li>
        <li>Have an Android app downloaded 10,000+ in PlayStore</li>
        <li>Learn how to play the ukulele/guitar</li>
      </ul>
    </div>
  </div><!--/row-->
  
  <!-- second row -->
  <div class="row">
    <div class="col-md-6" align="left">
      <ul>
        <h1>Experience</h1>
        <li>I have done 3 internships primarily working with the web stack</li>
        <li>Industry experience with Java/Ruby/JavaScript using various frameworks</li>
        <li>Agile Developer using Scrum in industry and startup experience</li>
        <li>Develop primarily in Linux systems CentOS and Ubuntu</li>
      </ul>
    </div>
    <div class="col-md-6" align="left">
      <ul>
        <h1>Interests</h1>
        <li>Making fun projects out of new tools</li>
	<li>Linux distros for fun and production (Arch Linux is up next)</li>
	<li>Contributing to Open Source Projects</li>
	<li>8-bit style video games</li>
	<li>Competing in stuff just because it's fun</li>
      </ul>
    </div>
  </div><!--/row-->
</div><!--/container-->
