<md-card class="md-whiteframe-z5">
  <md-card-content>
    <h2 class="md-title"><strong>Contact</strong></h2>
    <p class="big">
      Thanks for visiting. If you you're recruiting or just want to say hello you can contact me with your method of choice below.
    </p>
    <hr>
    <div class="md-actions" layout="row" layout-align="start center">
      <md-button aria-label="github" onclick="location.href='http://github.com/jonwho';">
        <md-icon md-svg-icon="/bower_components/ionicons/src/social-octocat.svg"></md-icon>
      </md-button>
      <md-button aria-label="linkedin" onclick="location.href='http://linkedin.com/in/jonwho';">
        <md-icon md-svg-icon="/bower_components/ionicons/src/social-linkedin.svg"></md-icon>
      </md-button>
      <md-button aria-label="twitter" onclick="location.href='http://twitter.com/lj080805';">
        <md-icon md-svg-icon="/bower_components/ionicons/src/social-twitter.svg"></md-icon>
      </md-button>
      <md-button aria-label="email" onclick="location.href='mailto:housuilun@yahoo.com';">
        <md-icon md-svg-icon="/bower_components/ionicons/src/email.svg"></md-icon>
      </md-button>
    </div>
  </md-card-content>
</md-card>