<md-card class="md-whiteframe-z5">
  <md-card-content>
    <h2 class="md-title"><strong>Sony Network Entertainment International | Software Architect Intern</strong></h2>
    <p class="big">
      Working at Sony deepened my knowledge about web application testing and scaling. I ran continuous integration tests and spent time reviewing tests written in Cucumber covering the network platform. While at Sony I was given a solo project that allowed me to engage 1 on 1 with a client integration engineer to meet tooling needs. I created an internal web application using AngularJS to mitigate the redundancy involved for a client integration engineer to do their daily tasks.
    </p>
    <hr>
    <div class="md-actions" layout="row" layout-align="start center">
      <md-button aria-label="resume" onclick="location.href='http://www.playstationnetwork.com/home/';">
        <md-icon md-svg-icon="/bower_components/ionicons/src/link.svg"></md-icon>
        <strong>SONY</strong>
      </md-button>
    </div>
  </md-card-content>
</md-card>

<md-card class="md-whiteframe-z5">
  <md-card-content>
    <h2 class="md-title"><strong>BridgeCrest Medical | Web Developer</strong></h2>
    <p class="big">
      Being a web developer in a start up company was an enlightening experience. The amount of work you do is really dependent on yourself and I it helped me gauge what was possible when I poured time into a project. My duties as a web developer was to make a web portal in Ruby on Rails to support remote administrator access to client resources. Building this application from the ground up was a hard but rewarding task and I learned more about best engineering practices from mistakes than I did success at school.
    </p>
    <hr>
    <div class="md-actions" layout="row" layout-align="start center">
      <md-button aria-label="resume" onclick="location.href='http://www.bridgecrestmed.com/';">
        <md-icon md-svg-icon="/bower_components/ionicons/src/link.svg"></md-icon>
        <strong>BRIDGECREST</strong>
      </md-button>
    </div>
  </md-card-content>
</md-card>

<md-card class="md-whiteframe-z5">
  <md-card-content>
    <h2 class="md-title"><strong>Thermo Fisher Scientific | Software Developer Intern</strong></h2>
    <p class="big">
      I worked for this company while it was still called Life Technologies. At that time I was part of a team that more closely resembled a start up environment. It was a new team building an application to integrate lab data straight to the web. I ran tests on our usage of Amazon Web Services. Ranging from a simple EC2 instance quality check, DynamoDB data assurance, S3 qualifying queries, and helping other interns with their tasks. I also worked as part of an intern sub-team that changed how employees used the IT help desk so that it was more intuitive to use and garnered better results.
    </p>
    <hr>
    <div class="md-actions" layout="row" layout-align="start center">
      <md-button aria-label="resume" onclick="location.href='http://www.thermofisher.com/en/home.html';">
        <md-icon md-svg-icon="/bower_components/ionicons/src/link.svg"></md-icon>
        <strong>THERMOFISHER</strong>
      </md-button>
    </div>
  </md-card-content>
</md-card>