<md-card class="md-whiteframe-z5">
  <md-card-content>
    <h2 class="md-title"><strong>Hi I'm Jon!</strong></h2>
    <p class="big">
      I'm currently a full stack software engineer at Fullscreen Inc on the Video Operations team. I enjoy developing for the web because results are immediate and
      instant gratification is awesome. My favorite tools are Vim, Git, and Tmux, they just make development so much faster. Favorite development languages/frameworks
      are Ruby on Rails and AngularJS. Similar to my favorite tools Rails and Angular just speed up my development a lot by removing cruft so I can focus on business
      logic and be rest assured that best practices are done in the design of my tools. I'm always on the lookout for new tools to learn and programming languages to
      master.
    </p>
    <h2 class="md-title"><strong>Hobbies</strong></h2>
    <p class="big">
      I love playing video games! Ever since I could power on my Super Nintendo on my own I've been locking myself in my room playing all sorts of goodies. Most memorable games to me will always be Super Mario and Donkey Kong. I had such great scores for a 6 year old! I'm also crazy about sports. I follow Basketball and Tennis as well as eSports! I used to play tennis against the wall because it was the only opponent who didn't get tired before me (haha?). I played junior varsity basketball and varsity tennis while in high school and I think that the competitiveness I gained from each sport is what I value the most. I think it's what made me the engineer I am today.
      <br><br>
      I also love bad jokes! Like really really terrible ones! Quick, did you have steak for dinner last night? No? Some would call that a miss-steak! That one's free, you're welcome world. 
    </p>
    <hr>
    <div class="md-actions" layout="row" layout-align="start center">
      <md-button aria-label="resume" onclick="location.href='../res/jonho_resume.pdf';">
        <md-icon md-svg-icon="/bower_components/ionicons/src/document-text.svg"></md-icon>
        <strong>RESUME</strong>
      </md-button>
    </div>
  </md-card-content>
</md-card>
