<div style="overflow-x:hidden">

<!-- Augmonted project -->
<div class="row featurette">
	<div class="col-md-7">
		<h2 class="featurette-heading">Augmonted</h2>
		<p class="lead">
			Voted 1st place for best app in Mobile Development class at UCSD. A mobile game app that utilizes Qualcomm's Vuforia for Augmented Reality!
			Using Unity and written in C# and JavaScript this game makes full use of the tech stack I have learned at UC San Diego. I managed the entire
			code base for the app using git and merging the work of others and keeping working branches clean. We covered front-end, middle-end, 
			and back-end development. Front-end development is done with Google's Material Design. Middle-end is written in PHP on our server to
			intercept requests. Back-end development we have a MySQL database on our Amazon EC2 instance. Visit the team site at
			<a href="http://augmonted.github.io">augmonted.github.io</a> to see some of our documentation or feel free to watch our demo video. 
		</p>
	</div>
	<div class="col-md-5">
		<center>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/16KOnnZLhqU" frameborder="0" allowfullscreen></iframe>
		</center>
	</div>
</div>
<hr>

<!-- Ubi Comp project -->
<div class="row featurette">
	<div class="col-md-6">
		<center>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/mYUiSeqqgDY" frameborder="0" allowfullscreen></iframe>
		</center>
	</div>
	<div class="col-md-6">
		<h2 class="featurette-heading">Speedy Type</h2>
		<p class="lead">
			A typing application made for those afflicted by Locked-in Syndrome (LS). This application uses the 
			<a href="http://www.microsoft.com/surface/en-us">Microsoft Surface</a> and 
			<a href="https://theeyetribe.com/">EyeTribe</a> technology to enable typing using only your eyes.
			The traditional method for communicating with a LS patient is to use an alphabet chart and wait for
			the patient to blink on letters when a care taker crosses the correct letter. This method does not
			allow for a patient to initiate conversation. With the use of Speedy Type a patient can initiate
			conversation and convey needs or simply thoughts. Our method proved to be faster than the traditional
			method and with my team (UC SpeedyDragons) we made features like piano play and article writing possible.
			To learn more about Speedy Type and its application read our research paper <a href="../res/projects/speedydragons/SpeedyType.pdf">here</a> and watch our demo video.
		</p>
	</div>
</div>
<hr>

<!-- XNA game project -->
<div class="row featurette">
	<div class="col-md-7">
		<h2 class="featurette-heading">Scott the Intern</h2>
		<p class="lead">
			Playable game on Xbox or PC! Written in C# using XNA framework 3.0 this game makes use of the 2D environment made by stitching together sprite sheets. Gameplay is similar to that of Zelda for free
			world movement. But the battles are handled like Final Fantasy! Handled using turn-based system with
			attacks like slaps and coffee bombs! This was a fun project made with a team of 5 and we covered
			everything from graphics, save states, to audio playbacks. Learned a great deal about software development with a team and an ever growing respect for game developers ever since. I take you 8-bit
			games for granted no more! Check out the source code <a href="https://github.com/jonwho/ScottTheIntern">here</a>.
		</p>
	</div>
	<div class="col-md-5">
		<img src="../res/projects/scotttheintern/boss.png">
		<img src="../res/projects/scotttheintern/scott.png">
		<br>
		<br>
		<img src="../res/projects/scotttheintern/lvl1.png" width="350">
	</div>
</div>

</div>