<!-- AUGMONTED -->
<md-card class="md-whiteframe-z5">
  <md-card-content>
    <h2 class="md-title"><strong>Augmonted</strong></h2>
    <p class="big">
      Voted 1st place for best app in Mobile Development class at UCSD. A mobile game app that utilizes Qualcomm's Vuforia for Augmented Reality! Using Unity and written in C# and JavaScript this game makes full use of the tech stack I have learned at UC San Diego. I managed the entire code base for the app using git and merging the work of others and keeping working branches clean. We covered front-end, middle-end, and back-end development. Front-end development is done with Google's Material Design. Middle-end is written in PHP on our server to intercept requests. Back-end development we have a MySQL database on our Amazon EC2 instance. Visit the team site to see our documentation or watch our video for a demo.
    </p>
    <hr>
    <div class="md-actions" layout="row" layout-align="start center">
      <md-button aria-label="augmonted site" onclick="location.href='http://augmonted.github.io';">
        <md-icon md-svg-icon="/bower_components/ionicons/src/social-android.svg"></md-icon>
        <strong>&nbsp;&nbsp;AUGMONTED</strong>
      </md-button>
      <md-button aria-label="augmonted demo" onclick="location.href='https://www.youtube.com/watch?v=16KOnnZLhqU';">
        <md-icon md-svg-icon="/bower_components/ionicons/src/social-youtube.svg"></md-icon>
        <strong>&nbsp;&nbsp;DEMO</strong>
      </md-button>
    </div>
  </md-card-content>
</md-card>

<!-- SPEEDY TYPE -->
<md-card class="md-whiteframe-z5">
  <md-card-content>
    <h2 class="md-title"><strong>Speedy Type</strong></h2>
    <p class="big">
      A typing application made for those afflicted by Locked-in Syndrome (LS). This application uses <a href="http://www.microsoft.com/surface/en-us">Microsoft Surface</a> and <a href="https://theeyetribe.com/">EyeTribe</a> technology to enable typing using only your eyes. The traditional method for communicating with a LS patient is to use an alphabet chart and wait for the patient to blink on letters when a care taker crosses the correct letter. This method does not allow for a patient to initiate conversation. With the use of Speedy Type a patient can initiate conversation and convey needs or simply thoughts. Our method proved to be faster than the traditional method and with my team (UC SpeedyDragons) we made features like piano play and article writing possible. To learn more about Speedy Type and its application read our research paper here and watch our demo video.
    </p>
    <hr>
    <div class="md-actions" layout="row" layout-align="start center">
      <md-button aria-label="speedytype research" onclick="location.href='../res/SpeedyType.pdf';">
        <md-icon md-svg-icon="/bower_components/ionicons/src/document-text.svg"></md-icon>
        <strong>&nbsp;&nbsp;RESEARCH</strong>
      </md-button>
      <md-button aria-label="speedytype demo" onclick="location.href='https://www.youtube.com/watch?v=mYUiSeqqgDY';">
        <md-icon md-svg-icon="/bower_components/ionicons/src/social-youtube.svg"></md-icon>
        <strong>&nbsp;&nbsp;DEMO</strong>
      </md-button>
    </div>
  </md-card-content>
</md-card>

<!-- SCOTT THE INTERN -->
<md-card class="md-whiteframe-z5">
  <md-card-content>
    <h2 class="md-title"><strong>Scott the Intern</strong></h2>
    <p class="big">
      Playable game on Xbox or PC! Written in C# using XNA framework 3.0 this game makes use of the 2D environment made by stitching together sprite sheets. Gameplay is similar to that of Zelda for free world movement. But the battles are handled like Final Fantasy! Handled using turn-based system with attacks like slaps and coffee bombs! This was a fun project made with a team of 5 and we covered everything from graphics, save states, to audio playbacks. Learned a great deal about software development with a team and an ever growing respect for game developers ever since. I take you 8-bit games for granted no more! Feel free to check out the source code.
    </p>
    <hr>
    <div class="md-actions" layout="row" layout-align="start center">
      <md-button aria-label="scott source" onclick="location.href='https://github.com/jonwho/ScottTheIntern';">
        <md-icon md-svg-icon="/bower_components/ionicons/src/social-github.svg"></md-icon>
        <strong>&nbsp;&nbsp;SOURCE</strong>
      </md-button>
    </div>
  </md-card-content>
</md-card>

<!-- COINFLIP -->
<md-card class="md-whiteframe-z5">
  <md-card-content>
    <h2 class="md-title"><strong>Coin Flip</strong></h2>
    <p class="big">
      This was the final assignment done for my Web Client class. Working with a team we built a mock coin/buillion exchange market web application. Prices are
      fetched in real-time using COMEX prices and APIs from Quandl. In the web application you'll find your profile saved to either your email or saved to a third
      party authorization service like Facebook or Google. After authentication you'll reach the exchange services and you can build a portfolio of coins/buillions
      ranging from Gold, Silver, and Platinum. You'll find charts tracking prices from 5 days, 1 month, 3 months, and up to a year. This web application was built
      using JavaScript mainly and some jQuery when helpful.
    </p>
    <hr>
    <div class="md-actions" layout="row" layout-align="start center">
      <md-button aria-label="coinflip site" onclick="location.href='https://cse134bteam3-hw5.firebaseapp.com';">
        <md-icon md-svg-icon="/bower_components/ionicons/src/social-usd.svg"></md-icon>
        <strong>&nbsp;&nbsp;COINFLIP</strong>
      </md-button>
      <md-button aria-label="coinflip source" onclick="location.href='https://github.com/jonwho/CoinFlip';">
        <md-icon md-svg-icon="/bower_components/ionicons/src/social-github.svg"></md-icon>
        <strong>&nbsp;&nbsp;SOURCE</strong>
      </md-button>
    </div>
  </md-card-content>
</md-card>
<!-- SIMPLE CHAT -->
<md-card class="md-whiteframe-z5">
  <md-card-content>
    <h2 class="md-title"><strong>Simple Chat</strong></h2>
    <p class="big">
      Real-time chat application made with AngularJS and Firebase using the AngularFire API for three-way data binding. Application is served by Firebase and the datastore is saved using Firebase as well. Chat is persistent and supports multiple chat rooms and lets user join any number of rooms.
    </p>
    <hr>
    <div class="md-actions" layout="row" layout-align="start center">
      <md-button aria-label="chat site" onclick="location.href='https://playwithfire.firebaseapp.com';">
        <md-icon md-svg-icon="/bower_components/ionicons/src/chatbubbles.svg"></md-icon>
        <strong>&nbsp;&nbsp;CHAT</strong>
      </md-button>
      <md-button aria-label="chat source" onclick="location.href='https://github.com/jonwho/SimpleChat';">
        <md-icon md-svg-icon="/bower_components/ionicons/src/social-github.svg"></md-icon>
        <strong>&nbsp;&nbsp;SOURCE</strong>
      </md-button>
    </div>
  </md-card-content>
</md-card>

<!-- GPA CALCULATOR -->
<md-card class="md-whiteframe-z5">
  <md-card-content>
    <h2 class="md-title"><strong>GPA Calculator</strong></h2>
    <p class="big">
      I got tired of signing in to UCSD services just to check calculate my GPA for the quarter. So I made myself a GPA calculator in AngularJS to quickly calculate my GPA without the hassle.
    </p>
    <hr>
    <div class="md-actions" layout="row" layout-align="start center">
      <md-button aria-label="gpa site" onclick="location.href='http://jonwho.github.io/gpacalc/';">
        <md-icon md-svg-icon="/bower_components/ionicons/src/university.svg"></md-icon>
        <strong>&nbsp;&nbsp;GPA</strong>
      </md-button>
      <md-button aria-label="gpa source" onclick="location.href='https://github.com/jonwho/gpacalc';">
        <md-icon md-svg-icon="/bower_components/ionicons/src/social-github.svg"></md-icon>
        <strong>&nbsp;&nbsp;SOURCE</strong>
      </md-button>
    </div>
  </md-card-content>
</md-card>
