<!-- Augmonted project -->
<div class="row featurette">
	<div class="col-md-7">
		<h2 class="featurette-heading">Aumonted</h2>
		<p class="lead">
			A mobile game app that utilizes augmented reality technology! Still a work in progress
			look forward to new material.
		</p>
	</div>
	<div class="col-md-5">
		image?
	</div>
</div>
<hr>

<!-- Ubi Comp project -->
<div class="row featurette">
	<div class="col-md-7">
		<h2 class="featurette-heading">Aumonted</h2>
		<p class="lead">
			A mobile game app that utilizes augmented reality technology! Still a work in progress
			look forward to new material.
		</p>
	</div>
	<div class="col-md-5">
		image?
	</div>
</div>
<hr>

<!-- XNA game project -->
<div class="row featurette">
	<div class="col-md-5">
		image?
	</div>
	<div class="col-md-7">
		<h2 class="featurette-heading">Aumonted</h2>
		<p class="lead">
			A mobile game app that utilizes augmented reality technology! Still a work in progress
			look forward to new material.
		</p>
	</div>
</div>