<md-card class="md-whiteframe-z5">
  <md-card-content>
    <h2 class="md-title"><strong>Skills</strong></h2>
    <table width="100%">
      <thead>
        <tr>
          <th>Name</th>
          <th>Surname</th>
          <th>Telephone</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>data</td>
          <td>data</td>
          <td>data</td>
        </tr>
      </tbody>
    </table>
    <hr>
    <div class="md-actions" layout="row" layout-align="start center">
      <md-button aria-label="resume" onclick="location.href='http://www.playstationnetwork.com/home/';">
        <md-icon md-svg-icon="/bower_components/ionicons/src/link.svg"></md-icon>
        <strong>SONY</strong>
      </md-button>
    </div>
  </md-card-content>
</md-card>